<!DOCTYPE html>
<html xmlns="http://www.w3org/1999/xhml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	<div class="container">
  		<div class="row">
    		<div th:each="categorie: ${categories}" class="col-sm">
    				<a href="@{/category/{id}(id=${category.id})}" th:text="${categorie.name}"></a>
    		</div> 
    	</div>
    </div>
</body>
</html>