<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Comment</title>
</head>
<body>
	<form method="POST"
		th:action="@{/saveComment}" th:object="${comment}">
		<label for="userNameInput">Username</label>
		<input type="text" th:field="*{name}" id="userNameInput"/>
		
		<label for="mailInput">Password</label>
		<input type="text" th:field="*{mail}" id="mailInput"/>
		
		
		<label for="passwordInput">Password</label>
		<input type="password" th:field="*{password}" id="passwordInput"/>
		
		<input type="submit" value="Valider"/>
	</form>
</body>
</html>