<!DOCTYPE html>
<html xmlns="http://www.w3org/1999/xhml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<form method="post" th:action="@{/saveUser}" th:object="${user}">
		
			<label for="nameInput" class="form-label">Pseudo</label> 
			<input type="text" th:field="*{name}" id="nameInput" class="form-control"/>
			
			<label for="mailInput" class="form-label">E-Mail</label> 
			<input type="text" th:field="*{mail}" id="mailInput" class="form-control"/>
			
			<label for="passwordInput" class="form-label">Mot de passe</label> 
			<input type="text" th:field="*{password}" id="passwordInput" class="form-control"/>
				
			<input type="submit" value="Validate" />
		</form>
    </div>
</body>
</html>