<!DOCTYPE html>

<html xmlns="http://www.w3org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../../assets/css/main.css" />
	</head>

	<body class="single is-preload">

		<div id="wrapper">

			<header id="header">
				<h1><a href="@{/categoryList}">Super blog</a></h1>
				<nav class="links">
					<ul>
						<li><a href="/home">Most recent posts</a></li>
						<li><a href="/user">User list</a></li>
						<li><a href="/category">Available categories</a></li>
					</ul>
				</nav>
			</header>

			<div id="main">
				<h1>All articles</h1>
				<div th:each="article: ${articles}" class="col-sm">
					<article class="post">
						<header>
							<div class="title">
								<h2><a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}"></a></h2>
							</div>
							<div class="meta">
								<time class="published" datetime="${article.date}" th:text="${article.date}"></time>
								<a th:href="@{/user/{id}(id=${article.user.id})}" class="author"><span class="name" th:text="${article.user.name}"></span><img src="../../../images/avatar.jpg" alt="" /></a>
							</div>
						</header>
						<a href="single.html" class="image featured"><img src="images/${article.id}.jpg" alt="" /></a>
						<p th:text="${article.content}"></p>
						<footer>
							<ul class="actions">
								<li><a th:href="@{/article/{id}(id=${article.id})}" class="button large">View full article</a></li>
							</ul>
						</footer>
					</article>
				</div>
	    </div>

			<section id="footer">
				<ul class="icons">
					<li><a target="_blank" href="https://github.com/Netszky/Projet-MS" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<p class="copyright">&copy; Super team. Design by <a href="http://html5up.net">HTML5 UP</a>.</p>
			</section>

		</div>

		<script src="../../../assets/js/jquery.min.js"></script>
		<script src="../../../assets/js/browser.min.js"></script>
		<script src="../../../assets/js/breakpoints.min.js"></script>
		<script src="../../../assets/js/util.js"></script>
		<script src="../../../assets/js/main.js"></script>

	</body>
</html>
